@import url('https://fonts.googleapis.com/css?family=Muli:400,600');

* {
    box-sizing: border-box;
}

.sidebar {
    background-color: #ddd;
    font-size: 12px;
    top: relative;
    font-family: Roboto,
    Arial,
    sans-serif;
    font-size: 13.5px;
}

.sidebar a {
    text-decoration: none;
}

.sidebar a:hover {
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
}

.nav-outer-container {
    padding-top: 5px;
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: #f5f5f5;
    width: 220px;
    border-right: 1px solid #ccc;
    position: fixed;
    top: 50px;
    bottom: 0;
    overflow-y: hidden;
    transition: 0.5s ease;
}

.nav-outer-container:hover {
    transition: 0.5s ease;
    overflow-y: scroll;
}

.nav-main-sections-container {
    list-style-type: none;
}

.nav-content-container hr {
 height: 1px;
 background-color: #f6f6f6;
 opacity: 0.4;
}

.nav-main-section-links {
    background-color: #f5f5f5;
}

.nav-main-section-link {
    list-style-type: none;
}

.nav-main-section-link-a {
    text-decoration: none;
    color: #333;
    width: 100%;
    display: block;
    padding: 1em 1.5em;
    cursor: pointer;
}


.nav-link-numbers {
    color: #0f0f0f;
}

.nav-main-section-link-a:focus .nav-link-numbers,
.nav-main-section-link-a:focus .icon {
    color: red;

}
.nav-main-section-link-a:focus .nav-link-numbers,
.nav-main-section-link-a:focus {
font-weight: bold;
}
.nav-main-section-link-a:focus .nav-link-numbers,
.nav-main-section-link-a:active .icon {
    color: red;
}

.nav-main-section-link-a .link-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-link-icon,
.nav-link-img {
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-link-img>img {
    height: 1.5em;
    width: 1.5em;
}

.icon {
    font-size: 1.5em;
    color: #555;
}

.nav-link-text {
    width: 80%;
    padding: 0 0.2em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color:rgba(0, 0,0, 0.8);
    font-family: 'Muli', sans-serif;
    font-weight: 600;
}

.nav-link-numbers {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: #999999;
}

hr {
    border: none;
    border-bottom: 1px solid #ccc;
}

.nav-main-section-header {
    font-size: 1em;
    margin: 0.2em 0;
    padding: 0.5em 0.5em 0.5em 1.5em;
}

.nav-main-section-header-a {
    text-decoration: none;
    color: #6f6f6f;
    font-weight: bold;
    font-family: 'Muli', sans-serif;
}

.nav-main-section-header-a:hover {
}

::-webkit-scrollbar {
    width: 1px;
    transition: 0.5s ease;
}

::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 1);
}

.hamburger-item-active i {
    color: red;
}
