/* #side-nav {
    position: fixed;
    top: relative;
    font-family: Roboto, Arial, sans-serif;
    font-size: 15px;
}

#home {
    background: '#d0171f';
    color: #fff;
    width: 90%;
}
iconH {
    font-size: 25px;
    font-weight: bold;
    font-family:  'Webdings';
}

itemH {
    margin-top: 6px;
    height: 23px;
    font-size: 14px;
    font-weight: bold;
}

item1 {
    margin-top: 2px;
    height: 23px;
}

item2 {
    margin-top: 2px;
    height: 23px;
    text-align: left;
}

icon1 {
    font-size: 25px;
    font-family:  'Webdings';
    text-align: left;
    margin-left:  -15px;
}

icon2 {
    font-size: 25px;
    font-family:  'Wingdings';
    margin-left: -5px;
    text-align: left;
}

icon3 {
    font-size: 20px;
    font-family:  'Webdings';
    background: #d0171f;
    color:  white;
    border-radius: 25%;
    width: 25px;
    padding-left: 6px;
    margin-left: -15px;
    margin-top: 5px;
}
icon3:hover{
    font-size: 20px;
    font-family:  'Webdings';
    background: #fff;
    color:  #444444;
    border-radius: 25%;
    width: 25px;
    padding-left: 6px;
    margin-left: -10px;
    margin-top: 4px;
    text-align: left;
}

icon4 {
    font-weight: bold;
    height: 23px;
    width: 19px;
    font-size: 23px;
    color:  white;
    background: #888888;
    border-radius: 50%;
    padding-left: 6px;
    margin-left: -16px;
    text-align: left;
}

h4 {
    font-size: 15px;
    padding-left:  35px;
    color:  #db2532;
    font-family: 'Arial Narrow';
    font-weight: bold;
}
h4:hover {
    font-size: 16px;
    padding-left:  35px;
    color:  #db2532;
    font-family: 'Arial Narrow';
    font-weight: bold;
    text-decoration:  underline;
    cursor: pointer;
}
hr {
    border: .5px solid #eeeeee;
    width: 86%;
}
icon6 {
    font-size: 25px;
    font-family:  'Webdings';
    text-align: left;
    margin-left: -11px;
}
icon7 {
    font-size: 25px;
    font-family:  'Wingdings';
    margin-left: -9px;
    text-align: left;
}
icon8 {
    font-size: 25px;
    font-family:  'Wingdings';
    margin-left: -12px;
    text-align: left;
}
icon9 {
    font-size: 25px;
    font-family:  'Wingdings';
    margin-left: -10px;
    text-align: left;
}

.sidenav {
    overflow-y: scroll;
    color: blue;
    height: 2000px;
} */

* {
    box-sizing: border-box;
}

.sidebar {
    background-color: #ddd;
    font-size: 12px;
    top: relative;
    font-family: Roboto,
    Arial,
    sans-serif;
    font-size: 13.5px;
}

.sidebar a {
    text-decoration: none;
}

.sidebar a:hover {
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
}

.nav-outer-container {
    padding-top: 5px;
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: #f5f5f5;
    width: 250px;
    border-right: 1px solid #ccc;
    position: fixed;
    top: 50px;
    bottom: 0;
    overflow-y: hidden;
    transition: 0.5s ease;
}

.nav-outer-container:hover {
    transition: 0.5s ease;
    overflow-y: scroll;
}

.nav-main-sections-container {
    list-style-type: none;
}

.nav-main-section-links {
    background-color: #f5f5f5;
}

.nav-main-section-link {
    list-style-type: none;
}

.nav-main-section-link-a {
    text-decoration: none;
    color: #333;
    width: 100%;
    display: block;
    padding: 1em 1.5em;
}


.nav-link-numbers {
    color: #0f0f0f;
}

.nav-main-section-link-a:focus .nav-link-numbers,
.nav-main-section-link-a:focus .icon {
    color: red;

}
.nav-main-section-link-a:focus .nav-link-numbers,
.nav-main-section-link-a:focus {
font-weight: bold;
}
.nav-main-section-link-a:focus .nav-link-numbers,
.nav-main-section-link-a:active .icon {
    color: red;
}

.nav-main-section-link-a .link-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-link-icon,
.nav-link-img {
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-link-img>img {
    height: 1.5em;
    width: 1.5em;
}

.icon {
    font-size: 1.5em;
    color: #555;
}

.nav-link-text {
    width: 80%;
    padding: 0 0.2em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color:black;
}

.nav-link-numbers {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: #999999;
}

hr {
    border: none;
    border-bottom: 1px solid #ccc;
}

.nav-main-section-header {
    font-size: 1em;
    margin: 0.2em 0;
    padding: 0.5em 0.5em 0.5em 1.5em;
}

.nav-main-section-header-a {
    text-decoration: none;
    color: #af1a1a;
    font-weight: bold;
}

.nav-main-section-header-a:hover {
    text-decoration: underline;
}

::-webkit-scrollbar {
    width: 1px;
    transition: 0.5s ease;
}

::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 1);
}

.hamburger-item-active i {
    color: red;
}
