a:hover {
    text-decoration: none;
}

#brand-logo {
    font-family: 'Black Han Sans';
    font-size: 30px;
}

.temp {
    background: red;
}

p {
    margin: 0;
}

hr {
    margin: 0px;
}

.profile-image {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.navbar-custom {
    background-color: "#e3f2fd"
}

.dropdown-menu-item {
    padding: "10px 10px 10px 30px"
}